:root {
  --white: #F1FAEE;
  --orange: #E63946;
  --lightblue: #A8DADC;
  --blue: #457B9D;
  --darkblue: #1D3557;
}

body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
  }

.main-container {
    height: auto;
}

/* MENU CONTAINER BELOW */
#big-title {
    font-family: 'Switzer', sans-serif;
    font-size: clamp(3.5rem, 8.5vw, 8.5rem);
    font-weight: 700;
}
  
  #menu {  
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  #menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
    width: 50%;
  }

  
  #menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
  }
  
  #menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
  }
  
  #menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%;
  }
  
  #menu[data-active-index="3"] > #menu-background-image {
    background-position: center 60%;
  }
  

  #menu-background-image {
    background-image: url('../styles/landingpagetest4.png');
    background-position: center 40%;
    background-size: 75vmax;
    height: 150%;
    left: 0px;  
    opacity: 0.8;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease,
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100%;
    z-index: 0;
  }
  
  #menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.3;
  }
  
  #menu-items:hover > .menu-item {
    opacity: 0.6;
  }
  
  #menu-items:hover > .menu-item:hover {
    opacity: 1; 
  }

  #menu-items:hover > #description1 {
    opacity: 1; 
  }
  
  .menu-item {
    color: #F1FAEE;
    cursor: pointer;
    display: block;
    font-family: 'Switzer', sans-serif;
    font-size: clamp(3rem, 8vw, 8rem);
    font-weight: 400;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    text-decoration: none;
    transition: opacity 400ms ease;
  }

/* DESCRIPTION / HOWITWORKS CONTAINER BELOW */
.descriptionContainer1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#1D3557;
    margin-top: 17%;
    height: 120vh;
}

#description1 {
    font-family: 'Switzer', sans-serif;
    font-size: clamp(0.5rem, 2.5vw,2.5rem);
    color:#F1FAEE;
    opacity: 1;
    z-index: 3;
    width: 30%;
}

#title1 {
  font-family: 'Switzer', sans-serif;
  font-size: clamp(3.5rem, 8.5vw, 8.5rem);
  color: #E63946;
  font-weight: 700;
  padding-right: 10%;
}

/* IMAGE CONTAINER BELOW */

.imageContainer {
  background-color:#F1FAEE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#hiwImg {
  position: relative;
  z-index: 3;
  margin-top: 5%;
}

/* SIDESCROLL CONTAINER BELOW */
  .sidescrollContainer {
    background-color: #cccccc;
    overflow: auto;
    white-space: nowrap; 
    width: 250px;
    opacity: 1;
  }

  a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    font-size: 20px;
  }
  a:hover{
    background-color: green;
  }	