.myTeamHeaders {
  color: #F1FAEE;
  font-family: 'Switzer', sans-serif;
  transition: opacity 400ms ease;
  letter-spacing: 4px;
  padding: 2%;
  text-align: center;
  font-size: 4rem;
  border: none;
  border-bottom: 1px solid black;
}

.teams-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D3557;
  flex-direction: column;
  margin-left: 15%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.allteam-card {
  transition: 0.3s;
  background-color: #3e5a80;
  border-radius: 15px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  color: #F1FAEE;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.team-cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.team-card {
  transition: 0.3s;
  border-radius: 5px;
  background: #3e5a80;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 12px 44px;
}

body {
  background-image: url('../styles/landingpagetest4.png');
  background-repeat: no-repeat;
}

.allteam-title {
  font-family: 'Switzer', sans-serif;
  font-size: 11pt;
  padding: 5px;
}

.team-btn {
  background: linear-gradient(90deg, rgba(21, 17, 87, 1) 0%, rgba(88, 138, 182, 1) 100%);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #588ab6;
  color: #F1FAEE;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 1rem;
  transition: 0.25s;
  width: 153px;
  text-decoration: none;
}

/* #signup-btn:hover {
  box-shadow: 0px 1px 18px #588ab6;
}DOES NOT WORK */
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.form-input {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
  padding-bottom: 5px;
}

.underline-title {
  background: linear-gradient(90deg, rgba(21, 17, 87, 1) 0%, rgba(88, 138, 182, 1) 100%);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}

.column {
  padding: 100px 40px;
}

circle {
  transition: all 0.7s ease-in-out;
}

.smallFont {
  font-size: 1.5rem;
  color: #F1FAEE;
  font-family: 'Switzer', sans-serif;
  text-align: center;
}

.bigFont {
  font-size: 3rem;
  color: #F1FAEE;
  font-family: 'Switzer', sans-serif;
  text-align: center;
}

.member-box {
  padding: 1rem;
  background-color: #3e5a80;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2%;
}

.member-name {
  font-family: 'Switzer', sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: #F1FAEE;
  font-weight: 400;
  display: inline-flex;
}

.member-container {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.no-padding {
  padding: 0;
}

.pRating {
  font-family: 'Switzer', sans-serif;
  font-size: clamp(0.5rem, 2.5vw, 2.5rem);
  color: #F1FAEE;
  font-weight: 700;
  margin-top: 1%;
  background-color: #E63946;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 8px;
}

.comparisons {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.description-card {
  display: flex;
  align-items: center;
}

.descFont {
  font-size: 1.5rem;
  color: #F1FAEE;
  font-family: 'Switzer', sans-serif;
  text-align: center;
  padding: 1%;
}

.descBGFont {
  font-size: 2rem;
  color: #F1FAEE;
  font-family: 'Switzer', sans-serif;
  text-align: center;
  padding: 1%;
}

.percentageCircle {
  justify-content: end;
  padding: 1%;
}