nav {
  /* top: 0;
  left: 0; */
  display: flex;
  flex-direction: column;
  background-color: #457B9D;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 15%; /* change the width to the desired width of the navigation bar */
  height: 100%; /* add this to make the navigation bar take up the full height of the screen */
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 20%; */
  width: 100%;
  margin-left: 15%;
}

li {
  display: block;
  font-family: 'Switzer', sans-serif;
}

#nav-link {
  display: flex;
  text-decoration: none;
  color: #F1FAEE;
  margin-bottom: 17%;
  margin-right: 0;
  width: 80%;
  align-items: center;
}

#icon1,
#icon2,
#icon3,
#icon4,
#icon5 {
  margin-right: 0;
}

.logoPlaceholder {
  /* display: flex;
  align-items: center; */
}

#Logo {
  width: 200px;
  height: 220px;
  margin-bottom: 15%;
}