nav {
  /* top: 0;
  left: 0; */
  display: flex;
  flex-direction: column;
  background-color: #1D3557;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 15%;
  /* change the width to the desired width of the navigation bar */
  height: 100%;
  /* add this to make the navigation bar take up the full height of the screen */
  font-size: clamp(0.55rem, 1.3vw, 1.3rem);
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: row;
    width: 100%;
    height: 15vh;
    margin-left: -5%;
  }
}

li {
  display: flex;
  margin: 5%;
  font-family: 'Switzer', sans-serif;
}

#nav-link {
  display: flex;
  text-decoration: none;
  color: #F1FAEE;
  margin-bottom: 10%;
  padding-bottom: 4%;
  padding-top: 4%;
  align-items: center;
  transition: 0.4s;
  border: 1px;
  border-radius: 15px;
}

#nav-link:hover {
  background-color: #457B9D;
}

#icon1 {
  margin-right: 4%;
  margin-left: 10%;
}

#icon2 {
  margin-right: 4%;
  margin-left: 10%;
}

#icon3 {
  margin-right: 4%;
  margin-left: 10%;
}

#icon4 {
  margin-right: 4%;
  margin-left: 10%;
}

#icon5 {
  margin-right: 4%;
  margin-left: 10%;
}

#Logo {
  width: 100%;
  height: auto;
  transition: 1s;
}

#Logo:hover {
  filter: contrast(200%) brightness(150%) sepia(100%);
}