nav {
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #eaeaea;
  }

li {
    display: inline;
    float: left;
    font-family: 'Switzer', sans-serif;
}
  
#nav-link {
    display: block;
    padding: 8px;
    text-decoration: none;
  }

