
/* LARGER CONTAINER */
.profileContainer {
    height: 130vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#F1FAEE;
  }
/* SPECIFIC PROFILE CONTAINER */
  .profile-box {
    background-color:#F1FAEE;
    border: 1px solid #ced4cc;
    border-radius: 2%;
    width: 35%;
    height: 60%;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
  }

  #profilePic {
    display: flex;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    align-items: flex-start;
    margin-top: 5%;
  }
  
  .profileName {
    font-family: 'Switzer', sans-serif;
    font-size: clamp(1.5rem, 5.5vw, 5.5rem);
    text-decoration: none;
    color: #1D3557;
  }

  .commentBox {
    
  }

  #newComment {

  }
/* TEAM BOX CONTAINER */
  .team-box {
    background-color:#F1FAEE;
    border: 1px solid #ced4cc;
    border-radius: 2%;
    width: 57%;
    height: 60%;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  
  #yourTeams {
    font-family: 'Switzer', sans-serif;
    font-size: clamp(1.5rem, 5.5vw, 5.5rem);
    text-decoration: none;
    color: #1D3557;
    margin: 0;
    display: flex;
    align-items: flex-start;
  }

  #teamsNumber {
    
  }

  .team1Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
    width: 90%;
  }

  #team1 {
    margin: 0;
    font-family: 'Switzer', sans-serif;
    font-size: clamp(.5rem, 3.5vw, 2.5rem);
    text-decoration: none;
    color: #1D3557;
    margin-right: 40%;
  }

  .team2Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
    width: 90%;
  }

  #team2 {
    margin: 0;
    font-family: 'Switzer', sans-serif;
    font-size: clamp(.5rem, 3.5vw, 2.5rem);
    text-decoration: none;
    color: #1D3557;
    margin-right: 40%;
  }

  .team3Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
    width: 90%;
  }

  #team3 {
    margin: 0;
    font-family: 'Switzer', sans-serif;
    font-size: clamp(.5rem, 3.5vw, 2.5rem);
    text-decoration: none;
    color: #1D3557;
    margin-right: 40%;
  }