.headers-search {
  color: #F1FAEE;
  font-family: 'Switzer', sans-serif;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
  letter-spacing: 4px;
  padding-bottom: 23px;
  text-align: center;
  font-size: clamp(0.7rem, 2.7vw, 2.7rem);
}

.search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 15%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  margin: 20px;
}

.search-card {
  transition: 0.3s;
  background: #3e5a80;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  width: 475px;
  /* margin: 20px; */
  height: 25rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 12px 44px;
}

body {
  background-image: url('../styles/landingpagetest4.png');
  background-repeat: no-repeat;
}

label {
  font-family: 'Switzer', sans-serif;
  font-size: 11pt;
  padding: 5px;
}

.search-btn {
  background: linear-gradient(90deg, rgba(21, 17, 87, 1) 0%, rgba(88, 138, 182, 1) 100%);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #588ab6;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  transition: 0.25s;
  width: 153px;
}

.search-form {
  align-items: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-border {
  background: linear-gradient(90deg, rgba(21, 17, 87, 1) 0%, rgba(88, 138, 182, 1) 100%);
  height: 1px;
  width: 100%;
}

.pform-input {
  background: rgb(173, 204, 232);
  border: 1px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10%;
  height: 30px;
}

.search-input {
  background: rgb(173, 204, 232);
  border: none;
  border-radius: 5px;
  outline: none;
  padding-top: 14px;
  margin-bottom: 1%;
}

.viewuser-btnSearch {
  background: linear-gradient(90deg, rgba(21, 17, 87, 1) 0%, rgba(88, 138, 182, 1) 100%);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #588ab6;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  transition: 0.25s;
  width: 153px;
  margin-bottom: 30px;
}

.viewuser-btnSearch a {
  color: white;
  text-decoration: none;
  font-family: 700;
}

.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1D3557;
  flex-wrap: wrap;
  transition: 0.3s;
  border-radius: 15px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  width: 20rem;
  margin: 20px;
}

.profileNameSearch {
  font-family: 'Switzer', sans-serif;
  text-decoration: none;
  color: #F1FAEE;
  text-align: center;
}

.userInfo {
  font-family: 'Switzer', sans-serif;
  text-decoration: none;
  color: #F1FAEE;
  text-align: center;
}

.pTypeSearch {
  font-family: 'Switzer', sans-serif;
  /* font-size: clamp(0.5rem, 2.5vw, 2.5rem); */
  color: #F1FAEE;
  font-weight: 700;
  /* margin-top: 1%; */
  background-color: #E63946;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 8px;
}

.search-column {
  padding: 100px 40px;
  /* display: flex; */
  /*justify-content: center;
  align-items: center; */
}

.user-container {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}